.irPara{
    display:block;
    background-color: rgb(49, 175, 127);
    border-radius: 7px;
    border: none;

}

fieldset{  
    display:block;
    border-radius:7px;
    border:none;
    background-color: white;
    justify-content: center;
    align-items: center;

}

form{
    display:inline;
    justify-items: center;
    padding: auto;
}

.preencher{
    padding: 40px;
}



.button-acess{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    background-color: rgb(49, 175, 127);
    border:none;
    border-radius:25px;
    width: 10rem;
    height: 2rem;
    margin: 5px;
    font-weight: bold;
    color: white;
    justify-items: center;
    padding: 3px 10px;
}
.button-acess-cad{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    background-color:white;
    border-radius:25px;
    width: 9rem;
    height: 2rem;
    font-weight: bold;
    color: rgb(49, 175, 127);
    border: 1px;
}

a{
    color:rgb(49, 175, 127) ;
    font-style: normal;
}
.testo-pequenho-acess{
    font-family: Helvetica, sans-serif;
    font-size: small;
    color: aliceblue;
    padding: 5px;

}
.titulo-criar-acess{
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size:27px;


}

.titulo-acess{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color:  rgb(49, 175, 127);
    font-size:50px;
    width: 20rem;
}
.input{
    border-radius: 25px;
    border-color: rgb(230, 226, 226);
    border-style: unset;
    background-color: rgb(252, 249, 249) ;
    width: 15rem;
    height: 2rem;
    margin: 5px;
    font-family:Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
    border-style: solid;
    outline: none;
    padding: 5px 15px;


}

input:focus{
    border-color: rgb(49, 175, 127);
    
}

body{
    background-color:rgb(240, 243, 247) ;
}

.log{
align-items: center;
    justify-content: center;
    display: flex;
    height: 20rem;

}
