{% include "inc/header.html" %} 
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <fieldset>
                    <div class="text-center">
                        <h2>Bem-vindo!</h2>
                        <p>Já possui uma conta? Entre com seus dados de acesso! <br>
                        <a href="login.php">Acessar</a></p>
                        <h3>ou</h3>
                    </div>
                </fieldset>

                <form method="post" action="cadastro.php">
                    <fieldset>
                        <legend class="text-center">Crie uma conta!</legend>
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" name="nome" required />
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" name="email" required />
                        </div>
                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input type="password" class="form-control" name="senha" required />
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Adicionar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
