{% include "inc/header.html" %} 
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apagar Documentos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="text-center">
        <h1>Apagar Documento</h1>

        <p>Tem certeza de que quer fazer isso?</p>

        <form action="#" method="post">
            <input type="hidden" name="id" value="{{ documentos.id }}">
            <input class="btn btn-danger" type="submit" value="Remover">
        </form>

        <div><a class="btn btn-secondary mt-3" href="meus_documentos.php">Cancelar</a></div>
    </div>
</body>
</html>
