{% include "inc/header.html" %} 
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apagar Documentos</title>
</head>
<body>
    <h1>Apagar Documento</h1>

    <p>Tem certeza de que quer fazer isso?</p>
    <p>Nunca mais será possível recuperar este arquivo</p>


    <form action="#" method="post">
        <input type="hidden" name="id" value="{{ documentos.id }}">
        <button>
            <img src="https://imageproxy.ifunny.co/crop:x-20,resize:640x,quality:90x75/images/be0df388257ad5b365095f9f9d0d58476af1332e7bc60ea2cfc914dcdca0d22a_1.jpg"
                alt="">
        </button>
    </form>

    <div><a href="documentos_lsitar.php">Cancelar</a></div>