{% if success %}
    <div class="alert alert-success">{{ success }}</div>
{% endif %}

{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% endif %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Documentos</h1>
    <h2>Adicionar documento</h2>

    <form action="#" method="post" enctype="multipart/form-data">
        <input type="text" name="nome_usuario" placeholder="Nome do Usuario"><br>
        <input type="text" name="nome_arquivo" placeholder="Nome do Arquivo"><br>
        <input type="date" name="data_arquivo"><br>
        <input type="file" name="arquivo"><br>
        <input type="submit" value="Enviar">
    </form>
    <a href="documentos.php">Lista de Documentos</a>
</body>

</html>