
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Login</title>
</head>

<body>
    <div class="form-cadastro">
        <div class="cadastro">
            <fieldset class="irPara">
                <div class="titulo-criar-acess">
                    Olá, amigo!
                </div>
                <div class="testo-pequenho-acess">
                    Introduza os seus dados pessoais e conecte-se conosco!
                </div>
                <div >
                    <button class="button-acess-cad"  >
                        <a href="cadastro.php" >Cadastrar-se</a>
                    </button>
                </div>
                
            </fieldset>
        </div>
        <form action="login_verifica.php" method="post">
            <fieldset class="fieldset">

                <div class="titulo-acess">Olá, seja bem vindo!</div>

                <div class="preencher">

                    <input type="text" class="input" name="nome" placeholder="Digite seu nome" required  />
                </div>
                <div class="preencher">
                    <input type="password" class="input" name="senha" placeholder="Digite sua" required />
                </div>
                <div class="button">
                    <button class="button-acess">Entrar</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>