{% include "inc/header.html" %} 
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="text-center p-2">
            <h1>Bem Vindo!</h1>
            <h3>O que desejas fazer hoje?</h3>
            <div class="d-flex flex-column align-items-center">
                <a class="btn btn-primary btn-lg btn-block mt-3" href="documentos_compartilhados.php">Documentos compartilhados comigo</a>
                <a class="btn btn-primary btn-lg btn-block mt-3" href="compartilhar.php" role="button">Compartilhar Documentos</a>
                <a class="btn btn-primary btn-lg btn-block mt-3" href="upload_documento.php" role="button">Upload de Documentos</a>
                <a class="btn btn-primary btn-lg btn-block mt-3" href="meus_documentos.php">Meus Documentos</a>
                <a class="btn btn-primary btn-lg btn-block mt-3" href="usuarios.php">Lista de Amigos</a>
                
            </div>
        </div>
    </div>

    <div class="container">
        <div class="text-center p-2">
            <a href="logout.php" class="btn btn-danger btn-lg btn-block mt-3">Sair</a>
        </div>
    </div>
</body>

</html>
