<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Meus Documentos</h1>
<form method="post">
    <label for="tipo">Filtrar por tipo:</label>
    <select id="tipo" name="tipo">
        <option value="">Todos os tipos</option>
        <option value="application/pdf">PDF</option>
        <option value="application/msword">DOC</option>
        <option value="application/vnd.openxmlformats-officedocument.wordprocessingml.document">DOCX</option>
    </select>

    <label for="nome">Filtrar por nome:</label>
    <input type="text" name="nome" placeholder="Filtrar por nome">

    <label for="data">Filtrar por data:</label>
    <input type="date" id="data" name="data">

    <input type="submit" value="Filtrar">
</form>

<table>
    <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Data</th>
        <th>Download</th>
        <th>Ação</th>
    </tr>
    {% for doc in documentos %}
    <tr>
        <td>{{ doc.nome }}</td>
        <td>{{ doc.tipo }}</td>
        <td>{{ doc.data }}</td>
        <td><a href="data:{{ doc.tipo }};base64,{{ doc.conteudo }}" download>Download</a></td>
        <td><a class="btn btn-danger" href="documento_apagar.php?id={{doc.id}}">Apagar</a></td>
    </tr>
    {% endfor %}
</table>
<p>Deseja compartilhar algum desses documentos com algum amigo?</p> <a href="compartilhar.php">Compartilhar</a>
</body>

</html>
