{% include "inc/header.html" %} 
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remover Amigo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="text-center">
        <h1>Remover amigo</h1>
        
        <p>Tem certeza de que deseja fazer isso?</p>
        
        <p><strong>Você está prestes a remover seu amigo da lista de amigos</strong></p>
        
        <form action="#" method="post">
            <input type="hidden" name="id" value="{{ usuario.id }}">
            <input class="btn btn-danger" type="submit" value="Remover">
        </form>
        <div><a class="btn btn-secondary mt-3" href="usuarios.php">Cancelar</a></div>
    </div>
</body>
</html>
